*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
    font-size: 35px;
}
nav li input{
    padding: 10px;
    color: black;
    margin: 30px;
    transition: transform 1s;
    border-radius: 10px;
    inline-size: 300px;
}
li a:hover{
    color:rgb(225, 191, 0) ;
}
a{
    text-decoration: none;
    color:navy;
    font-size: 30px;
    font-weight:normal;
}
.col-4 a{
    font-weight: bold;
    color: black;
    font-style: normal;
    font-size: 15px;
}
p{
    color: #555;
}
.container{
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
     flex-basis: 50%;
     min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.header{
    background-image: url(img/home_page.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
}
.btn{
    display: inline-block;
    background-color:rgb(255, 191, 0);
    color:black;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 15px;
    transition: background 0.5s;
}
.btn:hover{
    background-color:rgb(62, 62, 214);
}
.buy-btn{
    display: inline-block;
    border: none;
    background-color: rgb(225, 191, 0);
    color: black;
    padding: 10px 40px;
    margin: 10px 0;
    border-radius: 10px;
    transition: background 0.5s;
}
.buy-btn:hover{
    background-color: rgb(62, 62, 214);
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: navy;
}
.title::after{
    content: '';
    background: rgb(225, 112, 0);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.h4{
    font-weight: normal;
    color: black;
}
.col-4 p{
    color: #555;
    font-size: 14px;
}
.col-4 img:hover{
    transform: translateY(-5px);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: navy;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;

}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 0px 0;
}
#loginform a{
    font-size: 12px;
}
form.btn :focus{
    outline: none;
}
#loginform{
    left: -300px;
}
#regform{
    left: 0;
}
#indicator{
    width: 100px;
    border: none;
    background: rgb(225, 191, 0);
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1 ,.footer-col-2,.footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3{
    flex-basis: 12px;
    text-align: center;
}
ul{
    list-style-type: none;
}
.about{
    padding: 60px 0 20px;
}
.about-1{
    text-align: center;
    background: rgb(225, 191, 0);
    padding: 10px;
    border-color: navy;
    color: navy;
}
.about-2{
    text-align: center;
    margin-top: 30px;
}
.about-pass{
    margin-top: 30px;
}
.about-col-1 h4{
    margin-top: 30px;
    color: navy;
    margin-bottom: 10px;
    font-size: 30px;
}
.about-col-2 h4{
    color: navy;
    margin-bottom: 10px;
    font-size: 30px;
}
.about-col-1,.about-col-2 li{
    color: #555;
    font-size: 20px;
}
.pass{
    margin-top: 20px;
}
.address{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.add-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    line-height: 80px;
    font-size: 40px;
    color: navy;
}
.add-title::after{
    content: '';
    background: rgb(225, 191, 0);
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.address p{
    font-size: 20px;
    font-weight: bold;
}
.about-cot{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    background: rgb(225, 191, 0);
    color: navy;
    padding: 20px;
    border-radius: 10px;
}